<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel File Validator</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-sm my-5 p-3 rounded shadow-lg">
        <h2>Validate Excel File</h2>
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="file" class="form-label">Choose a Excel(.xlsx) file</label>
                <input type="file" id="file" name="file" accept=".xlsx" required class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Upload</button>
        </form>
        <div id="response" class="mt-3">
        </div>
    </div>

    <script>
        const form = document.getElementById('uploadForm');
        const responseDiv = document.getElementById('response');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(form);

            try {
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                if (response.ok) {
                    responseDiv.innerHTML = `<p style=\"color: green;\">${result.message}</p>`;
                } else if(result.details) {
                    responseDiv.innerHTML = `<p style=\"color: red;\">${result.message}</p><ul>${result.details.map(err => `<li>${err}</li>`).join('')}</ul>`;
                } else {
                    responseDiv.innerHTML = `<p style=\"color: red;\">${result.error}</p>`;
                }
            } catch (error) {
                responseDiv.innerHTML = `<p style=\"color: red;\">Error: ${error.message}</p>`;
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
